<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">


</head>
<body>
    
<main>
    {{>header}}
    <p>This is the first node application created by me.
        I have used handlebars in this project. This project uses third party weather API to fetch weather data 
        based on geolocation. The place name is converted into latititude and longitude using another API which then is used to fetch weather data
         and then the data is served by the server to Client. </p>
</main>
    {{>footer}}

</body>
 