<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">


</head>
<body>
    
<main>
    {{>header}}
    <p> By reason of and caresses of the pain to be nothing, however, are not aware of it they are free, a distinction of the smallest of the flight of the matter, because it is less to carry messages, they deserted the general, nor, indeed, he may repel worthy of.
        Just another page in the project.
    </p>
    <a href="/help/article">View Article</a>
</main>
{{>footer}}
</body>

</html>