<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">


</head>

<body>
    
    <main>
        {{>header}}
        <p>Enter your Location here</p>
        <form>
            <input placeholder="Enter your location">
            <button>Search</button>
        </form>
        <div class="forecast">

        </div>
</main>
    
  
    {{>footer}}
<script src="/js/script.js"></script>
</body>

</html>